{% extends "base.html" %}

{% block titulo %}
HomeFilmes Hashflix
{% endblock  %}

{% block content %}
<h1>home filmes</h1>

<h2>lista de filmes</h2>
{% for filme in filmes %}
    <p>{{ filme }}</p>
    <a href="{% url 'filmes:detail' filme.pk %}">
        <img src="{{ filme.thumb.url }}" alt="{{ filme }}">
        </a>
    <p>{{ filme.descricao }}</p>
    {% endfor %}

    <h2>Novo</h2>
    {% for filme in lista_filmes_recentes %}
    <p>{{ filme }} (data de criação: {{ filme.data_criacao }})</p>
    {% endfor %}

    <h2>Filmes em alta</h2>
    {% for filme in lista_filmes_em_alta %}
    <p>{{ filme }} (visualizações: {{ filme.visualizacoes }})</p>
    {% endfor %}
{% endblock  %}