# Configurações de ambiente para desenvolvimento e produção
# Copie este arquivo para .env e ajuste as variáveis conforme necessário

DEBUG=False
SECRET_KEY=chave-super-segura

ALLOWED_HOSTS=meusite.com,www.meusite.com

DATABASE_URL=postgres://user:senha@localhost:5432/hashflix